.img-section {
	min-width: 375px;
	max-width: 1400px;
	height: 300px;
	position: relative;
	z-index: -1;
	margin: auto;
	background-color: rgb(38, 22, 175);
}

.img-cover {
	width: 100%;
	height: 300px;
	object-fit: cover;
}


.menu-section {
	min-width: 375px;
	max-width: 1400px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-content: space-evenly;
	flex-wrap: wrap;
	margin: -60px auto 0;
	border-radius: 44px 44px 0 0;
	background-color: $background-secondary;

	.title-menu {
		@include flexCenter(space-between, center);
		margin: 30px 40px 0 25px;
	
		.title {
			font-size: 2.5em;
			font-family: 'Shrikhand Regular';
		}
	
		.title-heart {
			font-size: 2.5em;

			&:hover i {
				color: $color-primary;
				font-weight: 700;
				cursor: pointer;
			}
		}
	}
}

.menu {
	// width: 350px;
	min-width: 350px;
	height: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	margin: 30px 25px 10px;
	// background-color: #280c8b;

	h2 {
		width: 50px;
		padding-bottom: 5px;
		border-bottom: 4px solid $color-tertiary;
		font-family: 'Roboto Light';
		text-transform: uppercase;
		opacity: 0%;
		animation: showMenuAnimation 1s .6s forwards;
		font-size: 2em;
	}

	.menu-item {
		width: 100%;
		height: 70px;
		display: flex;
		box-shadow: 0px 0px 15px #c7c7c7;
		border-radius: 15px;
		opacity: 0%;
		cursor: pointer;
		// background-color: #734cff;

		.item-text {
			width: 85%;
			height: 70px;
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			padding-left: 10px;
			overflow: hidden;
			// background-color: rgb(33, 30, 206);

			h3 {
				width: 100%;
				margin-bottom: 5px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 1.8em;
			}

			p {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 1.6em;
			}
		}

		.item-price {
			width: 15%;
			height: 70px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			padding-bottom: 15px;
			font-size: 1.6em;
			font-weight: bold;
			color: $color-fourthy;
			// background-color: rgb(32, 9, 161);
		}

		.item-select {
			width: 0%;
			height: 70px;
			display: flex;
			overflow: hidden;
			justify-content: center;
			align-items: center;
			transition: width .3s ease-in;
			border-radius: 0 15px 15px 0;
			font-size: 2em;
			color: #fff;
			background-color: $color-tertiary;
		}

		&:hover .item-select {
			width: 20%;
		}

		&:hover .item-select i {
			animation: rotateSelect .8s forwards;
		}

		&:hover .item-text p {
			text-overflow: ellipsis;
		}
	}



	.menu-item:nth-child(1) {
		animation: showMenuAnimation 1s .6s forwards;
	}
	.menu-item:nth-child(2) {
		animation: showMenuAnimation 1s .8s forwards;
	}
	.menu-item:nth-child(3) {
		animation: showMenuAnimation 1s 1s forwards;
	}
	.menu-item:nth-child(4) {
		animation: showMenuAnimation 1s 1.2s forwards;
	}
	.menu-item:nth-child(5) {
		animation: showMenuAnimation 1s 1.2s forwards;
	}

}



.buy-link {
	margin: 30px auto 40px;
	text-decoration: none;
}

.button-buy {
	width: 185px;
	height: 50px;
	border-radius: 50px;
	font-size: 1.6em;
	text-align: center;
	line-height: 50px;
	color: #fff;
	box-shadow: 0 0 15px rgb(200 195 195);
	background: linear-gradient($color-primary, $color-secondary);

	&:hover {
		background: linear-gradient($color-primary-light, $color-secondary-light);
	}
}