
@media screen and (min-width: 960px) {

    main-header, .location, .book, .working, .restaurants, .footer {
        min-width: 375px;
        max-width: 1400px;
    }

    .working {
        @include flexCenter(space-around, center);
        flex-direction: row;

        h2 {
            width: 97%;
        }

        .working-button {
            width: 30%;
        }
    }



    .card-restaurant {
        width: 97%;

        .img-container {
            .img-card {
                object-position: 50% 50%;
            }
        }
    }



    .menu {
        min-width: 350px;
    }

}