$color-primary: rgb(147, 86, 220);
$color-secondary: rgb(255, 121, 218);
$color-tertiary: rgb(153, 226, 208);
$color-fourthy: rgb(53, 53, 53);

$color-primary-light: rgb(163, 112, 226);
$color-secondary-light: rgb(245, 143, 216);

$background-primary: rgb(255, 255, 255);
$background-secondary: rgb(247, 247, 247);