.footer {
	width: 375px;
	height: 198px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding-left: 25px;
	background-color: $color-fourthy;

	.logo-footer {
		width: 100px;
		height: 20px;
		margin-bottom: 10px;
	}

	ul {
		list-style: none;

		li {
			margin-top: 10px;

			i {
				width: 10px;
				margin-right: 15px;
			}
		}
	}

	a {
		text-decoration: none;
		font-size: 1.4em;
		color: rgb(255, 255, 255);
	}
}