@import '_fonts.scss';
@import '_variables.scss';
@import '_mixins.scss';



*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}



.main-header {
	// min-width: 375px;
	width: 375px;
	height: 64px;
	@include flexCenter(center, center);
	position: relative;
	margin: auto;
	// background-color: rgb(46, 7, 153);
	background-color: $background-primary;
}

.return-button {
	width: 50%;
	height: 64px;
	// background-color: #9356dc;

	a {
		line-height: 64px;
		margin-left: 25px;
		font-size: 2.5em;
		color: $color-fourthy;
	}
}

.logo {
	max-width: 165px;
	height: 30px;
	flex-grow: 1;
}

.header-right {
	width: 50%;
	height: 64px;
}



.location {
	width: 375px;
	height: 50px;
	@include flexCenter(center, center);
	margin: auto;
	box-shadow: 0px 2px 6px #bcbcbc inset;
	font-size: 1.3em;
	color: $color-fourthy;
	background-color: rgb(234, 234, 234);

	i {
		margin-right: 8px;
		font-size: 1.1em;
	}
}



.book {
	width: 375px;
	height: 288px;
	@include flexCenter(center, center);
	flex-direction: column;
	margin: auto;
	background-color: $background-secondary;

	h1 {
		width: 250px;
		font-size: 2.2em;
		text-align: center;
	}

	p {
		width: 300px;
		margin-top: 10px;
		font-size: 1.6em;
		text-align: center;
		color: rgb(102, 102, 102);
	}

	.explore {
		margin-top: 25px;
		padding: 13px 20px;
		border-radius: 50px;
		font-size: 1.6em;
		text-decoration: none;
		color: rgb(255, 255, 255);
		background: linear-gradient($color-primary, $color-secondary);
	}
}



.working {
	width: 375px;
	height: 352px;
	@include flexCenter(center, center);
	@include flexAlignContent();
	flex-direction: column;
	margin: auto;
	// background-color: #5137e4;
	background-color: rgb(255, 255, 255);

	h2 {
		font-size: 1.8em;
		align-self: flex-start;
	}

	.working-button {
		width: 330px;
		position: relative;
		margin-top: 25px;
		padding: 20px;
		border-radius: 15px;
		text-decoration: none;
		font-size: 1.6em;
		color: rgb(0, 0, 0);
		background-color: $background-secondary;
		// background-color: rgb(69, 30, 177);

		i {
			margin-right: 15px;
			margin-left: 15px;
			color: rgb(126, 126, 126);
		}

		.circle {
			width: 20px;
			height: 20px;
			position: absolute;
			left: -10px;
			line-height: 20px;
			text-align: center;
			font-size: .7em;
			border-radius: 50%;
			color: rgb(255, 255, 255);
			background-color: $color-primary;
		}

		&:hover {
			background-color: #f5edff;
		}

		&:hover i {
			color: #9356dc;
		}
	}
}



.restaurants {
	width: 375px;
	height: 1200px;
	@include flexCenter(center, center);
	@include flexAlignContent();
	flex-direction: column;
	gap: 25px;
	margin: auto;
	background-color: $background-secondary;

	h2 {
		font-size: 1.8em;
		align-self: flex-start;
	}

	a {
		text-decoration: none;
		color: rgb(0, 0, 0);
	}
}

.card-restaurant {
	width: 336px;
	height: 240px;
	border-radius: 15px;
	box-shadow: 1px 1px 10px rgb(215 215 215);
	// background-color: rgb(57, 12, 129);

	.img-container {
		position: relative;
		width: 100%;
		height: 170px;
		border-radius: 15px 15px 0 0;
		// background-color: rgb(131, 32, 223);

		.img-card {
			width: 100%;
			height: 170px;
			border-radius: 15px 15px 0 0;
			object-fit: cover;
		}

		.label-new {
			width: 80px;
			height: 30px;
			position: absolute;
			right: 10px;
			top: 10px;
			text-align: center;
			line-height: 30px;
			font-size: 1.3em;
			color: rgb(0, 135, 102);
			background-color: $color-tertiary;
		}
	}

	.text-container {
		width: 100%;
		height: 70px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 0 0 15px 15px;
		background-color: rgb(255, 255, 255);
		// background-color: rgb(35, 21, 167);

		.text {
			margin-left: 15px;
		}

		h3 {
			font-size: 1.5em;
		}
		
		p {
			font-size: 1.4em;
		}

		.heart {
			font-size: 2em;
			margin-right: 25px;
		}
	}
}



.footer {
	width: 375px;
	height: 198px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding-left: 25px;
	background-color: $color-fourthy;

	.logo-footer {
		width: 100px;
		height: 20px;
		margin-bottom: 10px;
	}

	ul {
		list-style: none;

		li {
			margin-top: 10px;

			i {
				width: 10px;
				margin-right: 15px;
			}
		}
	}

	a {
		text-decoration: none;
		font-size: 1.4em;
		color: rgb(255, 255, 255);
	}
}




.img-section {
	width: 375px;
	height: 300px;
	position: relative;
	z-index: -1;
	margin: auto;
	background-color: rgb(38, 22, 175);
}

.img-cover {
	width: 100%;
	height: 300px;
	object-fit: cover;
}


.menu-section {
	width: 375px;
	height: auto;
	display: flex;
	align-content: space-evenly;
	flex-wrap: wrap;
	margin: -60px auto 0;
	border-radius: 44px 44px 0 0;
	background-color: $background-secondary;

	.title-menu {
		width: 100%;
		// height: 64px;
		@include flexCenter(space-between, center);
		margin: 30px 45px 0 15px;
	
		.title {
			font-size: 2.5em;
			font-family: 'Shrikhand Regular';
		}
	
		.title-heart {
			font-size: 2.5em;
		}
	}
}

.menu {
	width: 350px;
	height: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	margin: 30px auto 10px;
	// background-color: #280c8b;

	h2 {
		width: 50px;
		padding-bottom: 5px;
		border-bottom: 4px solid $color-tertiary;
		font-family: 'Roboto Light';
		text-transform: uppercase;
		font-size: 2em;
	}

	.menu-item {
		width: 100%;
		height: 70px;
		display: flex;
		box-shadow: 0px 0px 15px #c7c7c7;
		border-radius: 15px;
		cursor: pointer;
		// background-color: #734cff;

		.item-text {
			width: 85%;
			height: 70px;
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			padding-left: 10px;
			// word-wrap: break-word;
			// background-color: rgb(33, 30, 206);

			h3 {
				width: 100%;
				margin-bottom: 5px;
				font-size: 1.8em;
			}

			p {
				font-size: 1.6em;
			}
		}

		.item-price {
			width: 15%;
			height: 70px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			padding-bottom: 15px;
			font-size: 1.6em;
			font-weight: bold;
			color: $color-fourthy;
			// background-color: rgb(32, 9, 161);
		}

		.item-select {
			width: 20%;
			height: 70px;
			display: none;
			justify-content: center;
			align-items: center;
			border-radius: 0 15px 15px 0;
			font-size: 2em;
			color: #fff;
			background-color: $color-tertiary;
		}

		&:hover .item-select {
			display: flex;
		}

		&:hover .item-text p {
			text-overflow: ellipsis;
		}
	}
}


.buy-link {
	margin: 30px auto 40px;
	text-decoration: none;
}

.button-buy {
	width: 185px;
	height: 50px;
	border-radius: 50px;
	font-size: 1.6em;
	text-align: center;
	line-height: 50px;
	color: #fff;
	box-shadow: 0 0 15px rgb(200 195 195);
	background: linear-gradient($color-primary, $color-secondary);
}
