@font-face {
  font-family: "Shrikhand Regular";
  src: url(../polices/Shrikhand-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Bold";
  src: url(../polices/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Light";
  src: url(../polices/Roboto-Light.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url(../polices/Roboto-Regular.ttf);
  font-weight: 400;
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  height: 100vh;
}

.main-header {
  min-width: 375px;
  max-width: 1400px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.return-button {
  width: 50%;
  height: 64px;
}
.return-button a {
  line-height: 64px;
  margin-left: 25px;
  font-size: 2.5em;
  color: rgb(53, 53, 53);
}

.logo {
  max-width: 165px;
  height: 30px;
  flex-grow: 1;
}

.header-right {
  width: 50%;
  height: 64px;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: loader 0s linear 3s forwards;
  z-index: 1;
  background-color: #9356dc;
}

.loader-spinner {
  position: relative;
  width: 120px;
  height: 14px;
  border-radius: 0 0 15px 15px;
  background-color: #3e494d;
  box-shadow: 0 -1px 4px #5d6063 inset;
  animation: panAnimation 0.5s linear alternate infinite;
  transform-origin: 170px 0;
  z-index: 10;
  perspective: 300px;
}
.loader-spinner::before {
  content: "";
  position: absolute;
  left: calc(100% - 2px);
  top: 0;
  z-index: -2;
  height: 10px;
  width: 70px;
  border-radius: 0 4px 4px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, transparent 0), linear-gradient(#9f9e9e 24px, transparent 0);
  background-size: 50px 10px, 4px 8px, 24px 4px;
  background-position: right center, 17px center, 0px center;
}
.loader-spinner::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -2;
  transform: translate(-50%, -20px) rotate3d(75, -2, 3, 78deg);
  width: 55px;
  height: 53px;
  background: #fff;
  background-image: radial-gradient(circle 3px, rgba(255, 255, 255, 0.4) 90%, transparent 10%), radial-gradient(circle 12px, #ffc400 90%, transparent 10%), radial-gradient(circle 12px, #ffae00 100%, transparent 0);
  background-repeat: no-repeat;
  background-position: -4px -6px, -2px -2px, -1px -1px;
  box-shadow: -2px -3px rgba(0, 0, 0, 0.1333333333) inset, 0 0 4px rgba(0, 0, 0, 0.2) inset;
  border-radius: 47% 36% 50% 50%/49% 45% 42% 44%;
  animation: eggsAnimation 1s ease-out infinite;
}

.location {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0px 2px 6px #bcbcbc inset;
  font-size: 1.3em;
  color: rgb(53, 53, 53);
  background-color: rgb(234, 234, 234);
}
.location i {
  margin-right: 8px;
  font-size: 1.1em;
}

.book {
  width: auto;
  height: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-color: rgb(247, 247, 247);
}
.book h1 {
  width: 250px;
  font-size: 2.2em;
  text-align: center;
}
.book p {
  width: 300px;
  margin-top: 10px;
  font-size: 1.6em;
  text-align: center;
  color: rgb(102, 102, 102);
}

.explore {
  margin-top: 25px;
  padding: 13px 20px;
  border-radius: 50px;
  font-size: 1.6em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
}
.explore:hover {
  background: linear-gradient(rgb(163, 112, 226), rgb(245, 143, 216));
}

.working {
  width: auto;
  height: 352px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  background-color: rgb(255, 255, 255);
}
.working h2 {
  font-size: 2.2em;
  align-self: flex-start;
}

.working-button {
  width: 330px;
  position: relative;
  margin-top: 25px;
  padding: 20px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.6em;
  color: rgb(0, 0, 0);
  background-color: rgb(247, 247, 247);
}
.working-button i {
  margin-right: 15px;
  margin-left: 15px;
  color: rgb(126, 126, 126);
}
.working-button .circle {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
  line-height: 20px;
  text-align: center;
  font-size: 0.7em;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(147, 86, 220);
}
.working-button:hover {
  background-color: #f5edff;
}
.working-button:hover i {
  color: #9356dc;
}

.restaurants {
  width: auto;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;
  margin: auto;
  background-color: rgb(247, 247, 247);
}
.restaurants h2 {
  font-size: 2.2em;
  align-self: flex-start;
}
.restaurants a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.card-restaurant {
  width: 336px;
  height: 240px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgb(215, 215, 215);
}
.card-restaurant .img-container {
  position: relative;
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
}
.card-restaurant .img-container .img-card {
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.card-restaurant .img-container .label-new {
  width: 80px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 1.3em;
  color: rgb(0, 135, 102);
  background-color: rgb(153, 226, 208);
}
.card-restaurant .text-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 15px 15px;
  background-color: rgb(255, 255, 255);
}
.card-restaurant .text-container .text {
  margin-left: 15px;
}
.card-restaurant .text-container h3 {
  font-size: 1.8em;
}
.card-restaurant .text-container p {
  font-size: 1.6em;
}
.card-restaurant .text-container .heart {
  font-size: 2.2em;
  margin-right: 50px;
  position: relative;
}
.card-restaurant .text-container .heart i {
  transition: transform 0.3s ease-in;
}
.card-restaurant .text-container .heart i:nth-child(1) {
  transform: scale(1);
}
.card-restaurant .text-container .heart i:nth-child(2) {
  transform: scale(0);
  color: rgb(147, 86, 220);
  position: absolute;
  left: 0;
}
.card-restaurant .text-container .heart:hover i:nth-child(1) {
  transform: scale(0);
}
.card-restaurant .text-container .heart:hover i:nth-child(2) {
  transform: scale(1);
}
.img-section {
  min-width: 375px;
  max-width: 1400px;
  height: 300px;
  position: relative;
  z-index: -1;
  margin: auto;
  background-color: rgb(38, 22, 175);
}

.img-cover {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu-section {
  min-width: 375px;
  max-width: 1400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  flex-wrap: wrap;
  margin: -60px auto 0;
  border-radius: 44px 44px 0 0;
  background-color: rgb(247, 247, 247);
}
.menu-section .title-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 40px 0 25px;
}
.menu-section .title-menu .title {
  font-size: 2.5em;
  font-family: "Shrikhand Regular";
}
.menu-section .title-menu .title-heart {
  position: relative;
  font-size: 2.5em;
}
.menu-section .title-menu .title-heart i {
  transition: transform 0.3s ease-in;
}
.menu-section .title-menu .title-heart:hover i {
  cursor: pointer;
}
.menu-section .title-menu .title-heart i:nth-child(2) {
  position: absolute;
  left: 0;
  color: rgb(147, 86, 220);
  transform: scale(0);
}
.menu-section .title-menu .title-heart:hover i:nth-child(1) {
  transform: scale(0);
}
.menu-section .title-menu .title-heart:hover i:nth-child(2) {
  transform: scale(1);
  color: rgb(147, 86, 220);
}

.menu {
  min-width: 350px;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 30px 25px 10px;
}
.menu h2 {
  width: 50px;
  padding-bottom: 5px;
  border-bottom: 4px solid rgb(153, 226, 208);
  font-family: "Roboto Light";
  text-transform: uppercase;
  opacity: 0%;
  animation: showMenuAnimation 1s 0.6s forwards;
  font-size: 2em;
}
.menu .menu-item {
  width: 100%;
  height: 70px;
  display: flex;
  box-shadow: 0px 0px 15px #c7c7c7;
  border-radius: 15px;
  opacity: 0%;
  cursor: pointer;
}
.menu .menu-item .item-text {
  width: 85%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-left: 10px;
  overflow: hidden;
}
.menu .menu-item .item-text h3 {
  width: 100%;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.8em;
}
.menu .menu-item .item-text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6em;
}
.menu .menu-item .item-price {
  width: 15%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
  font-size: 1.6em;
  font-weight: bold;
  color: rgb(53, 53, 53);
}
.menu .menu-item .item-select {
  width: 0%;
  height: 70px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease-in;
  border-radius: 0 15px 15px 0;
  font-size: 2em;
  color: #fff;
  background-color: rgb(153, 226, 208);
}
.menu .menu-item:hover .item-select {
  width: 20%;
}
.menu .menu-item:hover .item-select i {
  animation: rotateSelect 0.8s forwards;
}
.menu .menu-item:hover .item-text p {
  text-overflow: ellipsis;
}
.menu .menu-item:nth-child(1) {
  animation: showMenuAnimation 1s 0.6s forwards;
}
.menu .menu-item:nth-child(2) {
  animation: showMenuAnimation 1s 0.8s forwards;
}
.menu .menu-item:nth-child(3) {
  animation: showMenuAnimation 1s 1s forwards;
}
.menu .menu-item:nth-child(4) {
  animation: showMenuAnimation 1s 1.2s forwards;
}
.menu .menu-item:nth-child(5) {
  animation: showMenuAnimation 1s 1.2s forwards;
}

.buy-link {
  margin: 30px auto 40px;
  text-decoration: none;
}

.button-buy {
  width: 185px;
  height: 50px;
  border-radius: 50px;
  font-size: 1.6em;
  text-align: center;
  line-height: 50px;
  color: #fff;
  box-shadow: 0 0 15px rgb(200, 195, 195);
  background: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
}
.button-buy:hover {
  background: linear-gradient(rgb(163, 112, 226), rgb(245, 143, 216));
}

.footer {
  min-width: 375px;
  max-width: 1400px;
  height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-left: 25px;
  background-color: rgb(53, 53, 53);
}
.footer .logo-footer {
  width: 100px;
  height: 20px;
  margin-bottom: 10px;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  margin-top: 10px;
}
.footer ul li i {
  width: 10px;
  margin-right: 15px;
}
.footer a {
  text-decoration: none;
  font-size: 1.4em;
  color: rgb(255, 255, 255);
}

@keyframes showMenuAnimation {
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes rotateSelect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    z-index: -1;
  }
}
@keyframes eggsAnimation {
  0%, 100% {
    transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg);
    opacity: 0;
  }
  10%, 90% {
    transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg);
    opacity: 1;
  }
  25% {
    transform: translate(-50%, -40px) rotate3d(85, 17, 2, 70deg);
  }
  75% {
    transform: translate(-50%, -40px) rotate3d(75, -3, 2, 70deg);
  }
  50% {
    transform: translate(-55%, -50px) rotate3d(75, -8, 3, 50deg);
  }
}
@keyframes panAnimation {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@media screen and (min-width: 960px) {
  main-header, .location, .book, .working, .restaurants, .footer {
    min-width: 375px;
    max-width: 1400px;
  }
  .working {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .working h2 {
    width: 97%;
  }
  .working .working-button {
    width: 30%;
  }
  .restaurants a {
    width: 97%;
  }
  .card-restaurant {
    width: 100%;
  }
  .menu {
    min-width: 350px;
  }
}

/*# sourceMappingURL=styles.css.map */
