@font-face {
	font-family: 'Shrikhand Regular';
	src: url(../polices/Shrikhand-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto Bold';
	src: url(../polices/Roboto-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Roboto';
	src: url(../polices/Roboto-Regular.ttf);
	font-weight: 400;
}


*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}


$color-primary: rgb(147, 86, 220);
$color-secondary: rgb(255, 121, 218);
$color-tertiary: rgb(153, 226, 208);


.main-header {
	// min-width: 375px;
	display: flex;
	width: 375px;
	height: 64px;
	justify-content: center;
	align-items: center;
	margin: auto;
	background-color: rgb(46, 7, 153);
	// background-color: #fff;
}

.logo {
	width: 165px;
	height: 30px;
}



.location {
	display: flex;
	width: 375px;
	height: 50px;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-size: 1.3em;
	color: #353535;
	background-color: #eaeaea;

	i {
		margin-right: 8px;
		font-size: 1.1em;
	}
}


.book {
	display: flex;
	width: 375px;
	height: 288px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	background-color: #f7f7f7;

	h1 {
		width: 250px;
		font-size: 2.2em;
		text-align: center;
	}
}


// .working {
// 	width: 375px;
// 	height: 440px;
// 	margin: auto;
// 	background-color: #fff;
// }

// .restaurants {
// 	width: 375px;
// 	height: 1227px;
// 	margin: auto;
// 	background-color: #f7f7f7;
// }

// footer {
// 	width: 375px;
// 	height: 198px;
// 	margin: auto;
// 	background-color: rgb(42, 25, 194);
// }